html,body,#app{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 1366px;
}

.el-breadcrumb{
    margin: 10px 0;
    font-size: 14px;
}

.el-card{
    box-shadow: 0 1px 1px (0, 0, 0, 0.15);
}

.el-table{
    margin-top: 10px;
}

/* 解决级联选择器无滚动条，样式超出屏幕 */
.el-cascader-panel{
    height: 200px;
}